<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <style>
        .spacer {  margin-top: 20px; }
    </style>
</head>

<body>

<% include ../partials/nav.ejs %>
<div class="container">
    <h2>Test Upload of File via AJAX POST</h2>
    <button id="uploadFile" class="btn btn-success">Perform Upload File Test</button>
    <div class="progress spacer">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
        </div>
    </div>
</div>

<hr>

<div class="container">
    <h2>Test Upload of JSON via AJAX POST</h2>
    <button id="uploadJson" class="btn btn-success">Upload</button>
</div>

<hr>

<div class="container">
    <h2>Test Download of JSON via AJAX GET</h2>
    <button id="downloadJson" class="btn btn-success">Perform Upload Form Test</button>
</div>

<script>
    $(function() {
        setProgress(0);

        $('#uploadFile').click(function(e) {
            setProgress(0);

            //https://www.sanwebe.com/2012/06/ajax-file-upload-with-php-and-jquery

            var file = $("#fileInput").get(0).files[0];

            console.log(file);

            $.ajax({
                url: "uploadImage.php",
                type: "POST",
                data: file,
                beforeSend: function (request) {
                    request.setRequestHeader("Content-Type", file.type);
                },
                headers: {
                    "X-Filename" : file.name
                },
                processData: false,
                contentType: false,
                cache: false,
                xhr: function(){
                    //upload Progress
                    var xhr = $.ajaxSettings.xhr();
                    if (xhr.upload) {
                        xhr.upload.addEventListener('progress', function(event) {
                            var percent = 0;
                            var position = event.loaded || event.position;
                            var total = event.total;
                            if (event.lengthComputable) {
                                percent = Math.ceil(position / total * 100);
                            }
                            //update progressbar
                            setProgress(percent);
                        }, true);
                    }
                    return xhr;
                }
            }).done(function(data) {
                console.log('succeeded upload');
                console.log(data);
            }).fail(function(xhr) {
                console.log('failed upload');
                console.log(xhr);
            }).always(function() {
                console.log('done processing upload');
            });
        });

        $('#uploadJson').click(function(e) {
            setProgress(0);

            $.ajax({
                url: "data/testing/1.json",
                type: "POST",
                data: JSON.stringify({"message" : "test data"}),
                dataType: "text",
                contentType: "application/json",
            }).done(function(data) {
                console.log('succeeded upload');
                console.log(data);
            }).fail(function(xhr) {
                console.log('failed upload');
                console.log(xhr);
            }).always(function() {
                console.log('done processing upload');
            });
        });

        $('#downloadJson').click(function(e) {
            setProgress(0);

            $.ajax({
                url: "data/testing/1.json",
                type: "GET",
                dataType: "json",
            }).done(function(data) {
                console.log('succeeded download');
                console.log(data);
            }).fail(function(xhr) {
                console.log('failed download');
                console.log(xhr);
            }).always(function() {
                console.log('done processing download');
            });
        });

        function setProgress(percent) {
            $(".progress-bar").css("width", + percent +"%");
            $(".progress-bar").text(percent +"%");
        }
    });
</script>

</body>
</html>
