<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>
<div class="container">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nameText">Name</label>
            <input type="text" class="form-control" id="nameText" name="filePath" placeholder="File Path and Name">
            <p class="help-block">Provide the name of the resource with the extension, e.g. <code>/games/tweety/players.json</code>.
            </p>
        </div>
        <div class="form-group">
            <label for="jsonText">JSON</label>
            <button type="button" id="fileInputButton" class="btn btn-xs btn-default">Pick File</button>
            <input type="file" id="fileInput" style="display:none;">
            <div id="fileInputAlert" class="alert alert-warning alert-dismissible" role="alert" style="margin:5px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span></span>
            </div>
            <textarea class="form-control" rows="20" id="jsonDataText" name="jsonData" placeholder="JSON Data"
                      required></textarea>
            <p class="help-block">Paste or type the JSON here, or pick a JSON file from below and it will be copied
                in</p>
        </div>
        <button type="button" class="btn btn-default" id="uploadButton">Upload JSON Data</button>
        <div class="progress" style="margin:5px;">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
            </div>
        </div>
        <div id="uploadAlert" class="alert alert-danger alert-dismissible" role="alert" style="margin:5px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span></span>
        </div>
    </form>
</div>

<% include ../partials/scripts.ejs %>
<script src="/scripts/uploadPage.min.js"></script>
<script>
    $(function() {
        setActiveNav("upload")
    })
</script>
</body>
</html>
